#shopping {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .product-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block: 50px;

    h1 {
      font-size: 18px;
      font-family: system-ui;
      font-weight: 400;
    }
  }

  .product-details {
    width: 100%;

    .counter-products {
      border-bottom: 1px solid #d1d1d19c;

      h3 {
        font-size: 16px;
        font-family: system-ui;
        font-weight: 400;
        padding-bottom: 10px;
      }
    }

    .container-cart {
      display: flex;
      flex-direction: column;
      gap: 38px;
      margin-block: 20px;
      max-width: 1400px;
      width: 100%;

      .product-cart {
        .product-cart-list {
          display: grid;
          gap: 15px;
          overflow: auto;
          max-height: 90vh;

          &::-webkit-scrollbar {
            width: 4px;
            height: 10px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #f54c2ff0;
            border-radius: 50px;
          }

          &::-webkit-scrollbar-track {
            background-color: transparent;
          }

          li {
            background-color: #ffffffa3;
            display: flex;
            gap: 20px;
            padding-block: 10px;
            padding-inline: 10px;
            border-radius: 10px;
            position: relative;
            margin-right: 7px;
            height: fit-content;

            figure {
              max-width: 130px;
              height: fit-content;

              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
            }

            .product-title {
              display: flex;
              flex-direction: column;
              gap: 13px;
              margin-block: 15px;

              h3 {
                font-size: 17px;
                font-family: system-ui;
                font-weight: 400;
                color: var(--color-h1);
                font-weight: 500;
              }

              p {
                font-size: 14px;
                color: var(--color-p);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                gap: 10px;
                font-family: system-ui;
              }

              .quantity {
                display: flex;
                gap: 10px;
                align-items: center;

                span {
                  font-size: 14px;
                  font-family: system-ui;
                  font-weight: 400;
                  color: var(--color-h1);
                }

                input {
                  border: 1px solid #dedede;
                  outline: none;
                  padding-block: 3px;
                  padding-inline: 5px;
                  max-width: 47px;
                  text-align: center;
                  color: var(--color-h1);
                  background-color: transparent;
                  border-radius: 5px;
                }
              }
            }

            .close-product {
              position: absolute;
              top: 11px;
              right: 11px;
              border: hidden;
              display: flex;
              background-color: transparent;
              cursor: pointer;

              ion-icon {
                color: #f44336;
                font-size: 18px;
                transition: transform 0.1s ease;

                &:active {
                  transform: scale(0.8);
                }
              }
            }
          }
        }
      }

      .slide-order {
        position: relative;
        max-width: 356px;
        width: 100%;
        margin: auto;

        .order-card {
          background-color: #ffffffa3;
          border-radius: 10px;
          margin-inline: auto;
          padding-inline: 20px;
          padding-block: 20px;
          max-width: 356px;
          width: 100%;
          height: fit-content;

          .title {
            border-bottom: 1px solid #d1d1d19c;

            h3 {
              font-size: 16px;
              font-family: system-ui;
              font-weight: 400;
              padding-bottom: 10px;
              color: var(--color-h1);
            }
          }

          .total-list {
            padding-block: 10px;
            display: grid;
            gap: 17px;
            border-bottom: 1px solid #d1d1d19c;

            li {
              display: flex;
              align-items: center;
              justify-content: space-between;

              p {
                font-size: 14px;
                color: var(--color-p);
                font-family: system-ui;
              }

              span {
                font-size: 14px;
                color: var(--color-p);
                font-family: system-ui;
                font-weight: 500;
              }
            }

            .shipping,
            .sales,
            .sub-total {
              .shipping-div {
                color: var(--color-p);
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
              }
            }
          }

          .total {
            .shipping-div {
              display: flex;
              align-items: center;
              flex-direction: row-reverse;
            }
          }

          .total {
            padding-block: 15px;
            border-bottom: 1px solid #d1d1d19c;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3 {
              font-size: 16px;
              font-family: system-ui;
              font-weight: 400;
              color: var(--color-h1);
            }

            span {
              font-size: 14px;
              color: var(--span-total);
              font-family: system-ui;
              font-weight: 500;
            }
          }

          .checkBox {
            padding-block: 15px;

            h3 {
              font-size: 14px;
              color: var(--span-total);
              font-family: system-ui;
              font-weight: 100;
            }

            .btn {
              padding-top: 15px;
              display: flex;
              flex-direction: column;
              gap: 10px;

              .sign-in,
              .guest {
                border: hidden;
                background-color: transparent;
                color: white;
                height: 37px;
                cursor: pointer;
                transition: transform 0.2s ease;
                border-radius: 3px;

                &:active {
                  transform: scale(0.95);
                }
              }

              .guest {
                border: 1px solid #f54c2ff0;
                color: #f54c2ff0;
              }

              .sign-in {
                background-color: #f54c2ff0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #shopping {
    .product-details {
      .container-cart {
        flex-direction: row;
        gap: 14px;

        .slide-order {
          max-width: 315px;
          margin: unset;

          .order-card {
            max-width: 315px;
          }
        }

        .product-cart {
          width: 100%;

          .product-cart-list {
            width: 100%;
          }
        }
      }
    }
  }
}
