script(type="module" src="js/cart.js")
script(src="http://localhost:35729/livereload.js?snipver=1")
script(type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
script(nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")